:root {
  --textcolour-ltl-grey: #404040;
  --colour-ltl-blue: #2d6a89;
  --colour-ltl-orange: #f6a85c;
  --colour-ltl-green: #afcd4b;
  --colour-ltl-purple: #7e354f;
  --colour-ltl-red: #830415;
  --font-family-ltl-heading: "Special Elite", Times, serif;
  --font-family-ltl-body: Ubuntu, sans-serif;
  --font-family-ltl-bold: Ubuntu-Bold, Ubuntu, sans-serif;
}

body {
  background-image: url(/assets/Background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.root,
.add-note-dialog,
.add-photos-dialog,
.nav-menu-popup,
textarea {
  font-family: var(--font-family-ltl-body);
  font-size: 18px;
  color: var(--textcolour-ltl-grey);
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
}

.app-bar {
  z-index: 1100;
  background-image: url(/assets/LTL_Wood_2_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  box-shadow: 0px 2px 4px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  height: 180px;
  width: 100%;
}

.app-bar.authenticating {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 2px #ffffff40;
  box-shadow: none;
}

.app-bar .menu-button,
.nav-menu-popup .menu-button {
  margin-right: 20px;
  position: fixed;
  left: 20px;
  top: 18px;
}

.app-bar .menu-button .burger-menu {
  fill: white;
}

.nav-menu-popup .menu-button .burger-menu {
  fill: var(--colour-ltl-orange);
}

.app-bar .title-logo-small {
  position: fixed;
  left: 22px;
  top: 78px;
}

.app-bar .title-logo-large {
  height: 143px;
  position: fixed;
  left: 20px;
  top: 18px;
}

.app-bar .title {
  font-family: var(--font-family-ltl-heading);
  font-size: 44px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.app-bar .title.small {
  display: none;
}

.app-bar.authenticating .title.large {
  margin-left: 75px;
}

.app-bar.authenticating .title .ltl-title {
  color: var(--colour-ltl-green);
}

.app-bar .auth-signin-signout,
.app-bar .download-button {
  position: absolute;
  width: 140px;
  height: 40px;
  font-size: 12px;
  font-weight: normal;
  box-shadow: 1px 1px 4px black;
  border: none;
}
.app-bar .auth-signin-signout:active,
.app-bar .download-button:active {
  box-shadow: none;
}
.app-bar .auth-signin-signout {
  background-color: var(--colour-ltl-blue);
  color: white;
  right: 30px;
  top: 60px;
}
.app-bar .download-button {
  background-color: var(--colour-ltl-green);
  color: black;
  right: 30px;
  top: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-bar .auth-current-user {
  display: block;
  position: absolute;
  right: 30px;
  top: 140px;
  font-weight: bold;
  font-size: 15px;
}

.app-bar .auth-current-user .intro-text {
  color: var(--colour-ltl-orange);
}

.app-bar .auth-current-user .email {
  color: white;
}

.nav-menu-fixed,
.nav-menu-popup {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  top: 0;
  bottom: 0;
  z-index: 1200;
  position: fixed;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 380px;
}

.nav-menu-fixed {
  box-shadow: none;
  margin-top: 180px;
}

.nav-menu-popup {
  box-shadow: 0px 8px 10px;
  outline: 0;
  transition: transform 300ms;
  transform: none;
  padding-top: 60px;
}
.nav-menu-popup.hidden {
  transform: translateX(-380px);
}

.nav-menu {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.nav-menu-item {
  padding: 16px 5px;
  margin: 8px 28px 8px 8px;
  border: solid 1px var(--colour-ltl-orange);
  position: relative;
  font-size: 18px;
}

.nav-menu-item.selected {
  background-color: var(--colour-ltl-orange);
}

.nav-menu-item.introduction {
  border-color: black;
}

.nav-menu-item.results,
.nav-menu-item.gallery {
  border-color: var(--colour-ltl-purple);
}

.nav-menu-item.submit {
  border-color: var(--colour-ltl-blue);
}

.nav-menu-item .section-number {
  font-weight: bold;
  padding-right: 10px;
}

.nav-menu-item .section-title {
  font-family: var(--font-family-ltl-heading);
}

.nav-menu-item .nav-menu-item-progress {
  position: absolute;
  right: -20px;
  top: 4px;
  display: inline-flex;
  font-size: 14px;
}

.drawer {
  width: 380px;
  flex-shrink: 0;
}

.content {
  width: 100%;
  margin-left: 380px;
  margin-top: 180px;
}

.section-container {
  width: 100%;
}

.section,
.gallery-section,
.background-section {
  display: flex;
  flex-direction: column;
}
.submit-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.submit-dialog .progress-bar {
  background-color: #f1f1f1;
  width: 80%;
}

.submit-dialog .progress-bar-active {
  background-color: var(--colour-ltl-green);
  height: 20px;
}

.submit-dialog .submission-status {
  margin: 20px;
}

.introduction .icons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
.introduction .icons-group .icon-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.introduction .icons-group .icon-description:not(:first-child) {
  margin-left: 50px;
}

.introduction .icons-group .icon-description svg {
  flex-grow: 0;
  flex-shrink: 0;
}

.subsection,
.section,
.gallery-section,
.submit-section,
.background-section {
  background-color: white;
  box-shadow: 5px 5px 5px #00000080;
  margin: 40px;
}

.subsection {
  padding: 30px 30px;
}

.subsection p {
  text-align: justify;
}

.section,
.gallery-section,
.submit-section,
.background-section {
  padding: 30px 50px;
}

.submit-section {
  align-items: center;
}

.subsection .title,
.section .title,
.gallery-section .title,
.background-section .title {
  font-family: var(--font-family-ltl-heading);
  text-align: center;
}
.question {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.commentbox-hidden {
  display: none;
}
.commentbox {
  padding-top: 1em;
}
.logo {
  flex-shrink: 0;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.action-row .action-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.toggle-button-group {
  box-shadow: 0px 2px 4px #00000080;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.toggle-button-group button {
  background-color: #fafafa;
  border: 1px solid #cec6c6;
  cursor: pointer;
  float: left;
  text-transform: uppercase;
  font-family: var(--font-family-ltl-bold);
  font-size: 12px;
  font-weight: bold;
  width: 157px;
  height: 37px;
}
.toggle-button-group button:hover {
  background-color: #d7e6a5;
}
.toggle-button-group button.selected {
  background-color: var(--colour-ltl-green);
}
.toggle-button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.toggle-button-group.userrole button {
  width: 100px;
  height: 37px;
}

.add-note-button,
.add-photos-button,
.previous-section-button,
.next-section-button,
.menu-button {
  border: none;
  background: none;
  padding: 0;
}

.bottom-navigation {
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 50px;
}

.previous-section-button,
.next-section-button {
  box-shadow: 0px 2px 4px #00000080;
  position: absolute;
  display: flex;
}

.previous-section-button.hidden,
.next-section-button.hidden {
  display: none;
}

.previous-section-button:active,
.next-section-button:active {
  box-shadow: none;
}

.previous-section-button {
  left: 50%;
  margin-left: -160px;
}

.next-section-button {
  right: 50%;
  margin-right: -160px;
}

.gallery-section {
  align-items: stretch;
}
.gallery-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photo-section {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: grey 2px solid;
  align-items: flex-start;
  position: relative;
}

.photo-section .photo {
  max-width: 40%;
  width: 40%;
  margin: 5px;
}

.photo-section .delete-button {
  margin: 5px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.photo-section textarea {
  margin: 5px;
  width: 100%;
  min-width: 50px;
  box-sizing: border-box;
  align-self: stretch;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}
.question-line {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
.question-number {
  position: absolute;
}
.question-text {
  margin-left: 50px;
  margin-right: 50px;
}

.dated-question .question-line .add-photos-button,
.text-question .question-line .add-photos-button {
  position: absolute;
  top: 15px;
  right: 0;
}

.add-note-button {
  padding-left: 30px;
}

.add-photos-dialog {
  max-height: 80vh;
}

.add-photos-dialog .add-photos-scroll {
  overflow-y: auto;
  width: 100%;
}

.add-photos-dialog .photo-section {
  flex-wrap: nowrap;
}

.add-photos-dialog .question-line label {
  position: absolute;
  right: 15px;
  top: -15px;
}

.add-photos-dialog .question-text {
  margin-right: 70px;
}

.answerRow {
  display: flex;
  flex-direction: row;
}

.question-divider {
  border: 1px solid var(--colour-ltl-green);
  border-radius: 1px;
  width: 50px;
}
.subsection-divider {
  border: 1px solid var(--colour-ltl-orange);
  border-radius: 1px;
  width: 200px;
}

.commentbox-hidden {
  display: none;
}
.commentbox {
  padding-top: 1em;
}

.background-section .question {
  padding-bottom: 0;
  padding-top: 20px;
}

.background-section label {
  padding-top: 0;
  padding-bottom: 5px;
}

.question input[type="text"],
.question-user-select input[type="text"] {
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
}

.add-note-dialog textarea,
.add-photos-dialog .photo-section textarea,
.question textarea,
.photo-section textarea {
  resize: none;
  border: solid 1px black;
  padding: 5px 10px;
}

.add-note-dialog textarea,
.add-photos-dialog .photo-section textarea:hover,
.add-photos-dialog .photo-section textarea:focus,
.question textarea:hover,
.question textarea:focus,
.photo-section textarea:hover,
.photo-section textarea:focus,
.question input[type="text"]:hover,
.question input[type="text"]:focus,
.question-user-select input[type="text"]:hover,
.question-user-select input[type="text"]:focus {
  box-shadow: 0px 2px 4px #00000080;
}

.add-note-dialog textarea,
.question textarea {
  margin-left: 50px;
}

.add-note-dialog,
.add-photos-dialog,
.submit-dialog {
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: solid 1px var(--colour-ltl-orange);
  box-shadow: 0px 2px 4px #00000080;
}

.add-note-dialog .title,
.add-photos-dialog .title {
  font-family: var(--font-family-ltl-heading);
  font-size: 46px;
  font-weight: normal;
  margin-top: 0;
}

.add-note-dialog .question-line,
.add-photos-dialog .question-line {
  padding: 0;
  margin-bottom: 20px;
}

.add-note-dialog .question-text {
  margin-right: 0;
  margin-left: 20px;
}

.add-photos-dialog .question-text {
  margin-right: 70px;
  margin-left: 20px;
}

.add-note-dialog textarea {
  align-self: stretch;
  margin: 0;
}

.add-note-dialog button,
.add-photos-dialog .save-photos-button,
.submit-dialog button,
.submit-survey-button,
.get-started button {
  margin-top: 20px;
  border: 0;
  background-color: var(--colour-ltl-orange);
  width: 160px;
  height: 40px;
  min-height: 40px;
  font-family: var(--font-family-ltl-bold);
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 2px 4px #00000080;
}

.add-note-dialog button:active,
.add-photos-dialog .save-photos-button:active,
.submit-dialog button:active,
.submit-survey-button:active,
.get-started button:active {
  box-shadow: none;
}

.question .dated-improvement-answer {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.question .dated-improvement-answer .improvement,
.question .dated-improvement-answer .year {
  display: flex;
  flex-direction: column;
}

.question .dated-improvement-answer .improvement {
  flex-grow: 1;
}

.question .dated-improvement-answer .year {
  margin-left: 5px;
}
.question .dated-improvement-answer label {
  padding-top: 5px;
  padding-bottom: 5px;
}
.question .dated-improvement-answer .improvement input {
  width: 100%;
  height: 51px;
  box-sizing: border-box;
}
.question .dated-improvement-answer .year input {
  width: 5rem;
}

.background-section .question-user-select {
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
}

.background-section .question-user-select .details-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.background-section .question-user-select .selection-column {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.background-section .question-user-select .toggle-button-group {
  margin-left: 10px;
}

.background-section .question-user-select .title-label {
  margin-bottom: 5px;
}

/* charts */
.results-section h2 {
  font-family: var(--font-family-ltl-heading);
  font-size: 24px;
  font-weight: normal;
  margin-left: 30px;
}

.results-chart {
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
}
.results-chart.five-bars {
  height: 415px;
}
.results-chart.two-bars {
  height: 190px;
}

.small-chart {
  display: none !important;
}

.authenticator-wrapper,
.get-started-wrapper {
  position: fixed;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/LTL_partial_logo_white.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.authenticator,
.get-started {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.get-started {
  align-items: center;
  width: 50%;
  padding: 50px;
}

.authenticator .title-logo-small,
.get-started .title-logo-small {
  display: none;
  align-self: center;
  margin-bottom: 20px;
}

.authenticator .question {
  font-family: var(--font-family-ltl-heading);
  display: flex;
  flex-direction: row;
  padding: 0;
}

.authenticator .action-row {
  justify-content: start;
}

.authenticator button {
  width: 100px;
  height: 40px;
  background-color: var(--colour-ltl-blue);
  color: white;
  font-size: 12px;
  font-weight: normal;
  box-shadow: 1px 1px 4px black;
  border: none;
  margin-top: 15px;
  margin-bottom: 20px;
}

.authenticator button.disabled {
  background-color: darkGrey;
  color: white;
  box-shadow: none;
}

.authenticator button:active {
  box-shadow: none;
}

.authenticator button.inline-action {
  color: var(--colour-ltl-blue);
  background-color: inherit;
  box-shadow: none;
  border: none;
  width: auto;
  height: auto;
  font-size: inherit;
  padding: 0px 10px;
  margin: 0;
}

.authenticator button.continue-signed-out-button {
  margin-left: 40px;
  background-color: var(--colour-ltl-orange);
  color: black;
  font-weight: bold;
}

.authenticator h2,
.get-started h2 {
  font-family: var(--font-family-ltl-heading);
  font-size: 46px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.get-started .download-button {
  background-color: var(--colour-ltl-blue);
  color: white;
  margin-left: 80px;
}

.authenticator input[type="email"],
.authenticator input[type="password"] {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
}

.authenticator #emailInput {
  margin-bottom: 20px;
}
.authenticator #passwordInput {
  margin-bottom: 40px;
}

.email-label-line {
  display: flex;
  justify-content: space-between;
}

.email-label-line .tooltip {
  position: relative;
  border-bottom: 1px dotted var(--colour-ltl-blue);
  font-size: 12px;
  color: var(--colour-ltl-blue);
}

.email-label-line .tooltip .tooltip-text {
  visibility: hidden;
  color: var(--colour-ltl-blue);
  background-color: white;
  text-align: left;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 228px;
  top: 125%;
  left: 50%;
  margin-left: -126px;
  border: 2px solid var(--colour-ltl-blue);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.email-label-line .tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--colour-ltl-blue) transparent;
}

.authenticator button.tooltip.small {
  background-color: var(--colour-ltl-blue);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: none;
}

.tooltip-popup {
  width: 200px;
  position: relative;
  padding: 40px 20px;
  background-color: white;
  font-size: 14px;
  color: var(--colour-ltl-blue);
  border-color: var(--colour-ltl-blue);
}

.tooltip-popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--colour-ltl-red);
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.email-label-line .tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.authenticator .checkbox-line {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.authenticator .checkbox-line .checkmark {
  cursor: pointer;
}

.authenticator .checkbox-line .checkmark {
  position: relative;
  height: 30px;
  width: 30px;
  border: 3px solid var(--colour-ltl-blue);
  border-radius: 5px;
}

.authenticator .checkbox-line .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 1px;
  width: 9px;
  height: 18px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.authenticator .checkbox-line .checkmark.checked::after {
  display: block;
}

.authenticator .checkbox-line label {
  padding-left: 10px;
}

.get-started p {
  align-self: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.app-bar .menu-button {
  display: none;
}
.nav-menu-popup-modal {
  display: none;
}
.app-bar .title-logo-small {
  display: none;
}

@media screen and (max-width: 1320px) {
  .app-bar .menu-button {
    display: block;
  }
  .app-bar .title-logo-small {
    display: block;
  }
  .app-bar .title-logo-large {
    display: none;
  }
  .app-bar.authenticating .title-logo-small {
    display: none;
  }
  .app-bar.authenticating .title-logo-large {
    display: block;
  }
  .nav-menu-popup-modal {
    display: block;
  }
  .nav-menu-fixed {
    display: none;
  }
  .content {
    margin-left: 0px;
  }
}

@media screen and (max-width: 915px) {
  .root,
  .add-note-dialog,
  .add-photos-dialog,
  .nav-menu-popup,
  textarea {
    font-size: 14px;
  }

  .toggle-button-group {
    flex-direction: column;
  }
  .action-row .action-button-group {
    flex-direction: column;
  }

  .toggle-button-group button:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid #cec6c6;
  }

  .add-note-button {
    padding-left: 0;
  }
  .action-row .action-button-group {
    padding-left: 30px;
  }

  .content {
    margin-top: 160px;
  }

  .authenticator-wrapper,
  .get-started-wrapper {
    top: 160px;
  }
  .action-row .action-button-group {
    padding-left: 30px;
  }

  .app-bar {
    background-position: left;
    height: 160px;
  }

  .app-bar .title {
    font-size: 18px;
    margin-top: 80px;
  }

  .app-bar .title.large {
    display: none;
  }
  .app-bar .title.small {
    display: block;
  }

  .app-bar .title-logo-small {
    left: 10px;
    top: 77px;
  }

  .app-bar .menu-button,
  .nav-menu-popup .menu-button {
    position: absolute;
    top: 20px;
  }

  .app-bar .auth-current-user {
    right: 20px;
    top: 20px;
  }

  .app-bar .auth-signin-signout {
    right: 20px;
    top: 40px;
    width: 75px;
    height: 30px;
  }

  .app-bar.authenticating .title-logo-large {
    display: none;
  }

  .app-bar.authenticating .title {
    margin-top: 20px;
  }

  .app-bar.authenticating .title-logo-small {
    top: 10px;
  }

  .authenticator-wrapper,
  .get-started-wrapper {
    top: 90px;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 0;
  }

  .authenticator,
  .get-started {
    box-sizing: border-box;
    width: 70%;
    max-height: calc(100% - 80px);
    overflow-y: auto;
  }

  .background-section .question-user-select {
    align-items: flex-start;
    flex-direction: column;
  }

  .background-section .question-user-select .selection-column {
    align-items: flex-start;
    flex-direction: column;
  }

  .background-section .question-user-select .toggle-button-group {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .background-section .question-user-select .details-column {
    margin-left: 0;
    align-self: stretch;
  }

  .background-section .question {
    padding-top: 10px;
  }

  .toggle-button-group.userrole button {
    width: 150px;
  }

  .introduction .icons-group {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .introduction .icons-group .icon-description:not(:first-child) {
    margin-left: 0;
    margin-top: 10px;
  }

  .introduction .icons-group .icon-description svg {
    margin-right: 5px;
    margin-left: 6px;
  }

  .add-note-dialog textarea,
  .question textarea,
  .photo-section textarea,
  .photo-section .photo,
  .photo-section .delete-button {
    margin-left: 0;
    margin-right: 0;
  }

  .photo-section .delete-button {
    position: absolute;
    top: 25px;
    right: 15px;
  }

  .photo-section .photo {
    max-width: 100%;
    width: 100%;
  }

  .section,
  .gallery-section,
  .submit-section,
  .background-section {
    padding: 30px 10px;
  }

  .question-text {
    margin-left: 20px;
    margin-right: 0;
  }

  .question .dated-improvement-answer {
    padding-left: 0;
  }

  .authenticator .title-logo-small,
  .get-started .title-logo-small {
    display: block;
  }

  .authenticator,
  .get-started {
    padding: 20px 20px;
  }

  .authenticator h2,
  .get-started h2 {
    font-size: 24px;
  }

  .authenticator button.tooltip.small {
    display: block;
  }

  .authenticator .tooltip.large {
    display: none;
  }

  .photo-section {
    flex-direction: column;
  }

  .large-chart {
    display: none !important;
  }
  .small-chart {
    display: block !important;
  }
  .results-chart {
    position: relative;
    margin-left: 40px;
    margin-right: 20px;
  }
  .results-chart.five-bars {
    height: 360px;
  }
  .results-chart.two-bars {
    height: 340px;
    width: 190px;
    align-self: center;
  }
}
