body {
  background-image: url(/assets/Background_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Ubuntu;
  color: #404040;
}

.app-bar {
  z-index: 1100;
  background-image: url(/assets/LTL_Wood_2_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  box-shadow: 0px 2px 4px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  height: 180px;
  width: 100%;
}

.app-bar.authenticating {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 2px #ffffff40;
  box-shadow: none;
}

.app-bar .menu-button {
  margin-right: 20px;
  /* [theme.breakpoints.up(md)] { */
  display: none;
  /* } */
}

.app-bar .title-logo {
  height: 143px;
  position: fixed;
  left: 20px;
  top: 18px;
}

.app-bar .title {
  font-family: Special Elite;
  font-size: 44px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.app-bar .auth-signin-signout {
  position: absolute;
  right: 30px;
  top: 60px;
  width: 100px;
  height: 40px;
  background-color: #2d6a89;
  color: white;
  font-family: Ubuntu-Regular, Ubuntu;
  font-size: 12px;
  font-weight: normal;
  box-shadow: 1px 1px 4px black;
  border: none;
}

.app-bar .auth-signin-signout:active {
  box-shadow: none;
}

.app-bar .auth-current-user {
  display: block;
  position: absolute;
  right: 30px;
  top: 140px;
  font-weight: bold;
  font-size: 15px;
}

.app-bar .auth-current-user .intro-text {
  color: #afcd4b;
}

.app-bar .auth-current-user .email {
  color: white;
}

.nav-menu-fixed,
.nav-menu-popup {
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  top: 0;
  bottom: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 380px;
  margin-top: 180px;
}

.nav-menu-fixed {
  box-shadow: none;
  margin-top: 180px;
}

.nav-menu-popup {
  box-shadow: 0px 8px 10px;
  flex: 1 0 auto;
  outline: 0;
  transition: transform 300ms;
  transform: none;
}
.nav-menu-popup.hidden {
  transform: translateX(-380px);
}

.nav-menu-item {
  padding: 16px 5px;
  margin: 8px 28px 8px 8px;
  border: solid 1px #f6a85c;
  position: relative;
  font-size: 18px;
}

.nav-menu-item.selected {
  background-color: #f6a85c;
}

.nav-menu-item.introduction {
  border-color: black;
}

.nav-menu-item.results,
.nav-menu-item.gallery {
  border-color: #7e354f;
}

.nav-menu-item.submit {
  border-color: #2d6a89;
}

.nav-menu-item .section-number {
  font-weight: bold;
  padding-right: 10px;
}

.nav-menu-item .section-title {
  font-family: Special Elite;
}

.nav-menu-item .nav-menu-item-progress {
  position: absolute;
  right: -20px;
  top: 4px;
  display: inline-flex;
  font-size: 14px;
}

.heading {
  font-size: 15px;
  flex-basis: 33.33%;
  flex-shrink: 0;
}
.drawer {
  /* [theme.breakpoints.up(md)] { */
  width: 380px;
  flex-shrink: 0;
  /* } */
}

.content {
  width: 100%;
  /* [theme.breakpoints.up(md)] { */
  margin-left: 380px;
  margin-top: 180px;
  /* } */
}

.section-container {
  width: 100%;
}

.section,
.gallery-section,
.background-section {
  display: flex;
  flex-direction: column;
}
.submit-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* // INTRODUCTION */

.introduction .icons-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  font-size: 18px;
}

.introduction .icons-row .add-photo-icon {
  margin-left: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.subsection,
.section,
.gallery-section,
.submit-section,
.background-section {
  background-color: white;
  font-family: Ubuntu;
  font-size: 1em;
  box-shadow: 5px 5px 5px #00000080;
  margin: 40px;
}

.subsection {
  padding: 30px 30px;
}

.subsection p {
  font-size: 18px;
  text-align: justify;
}

.section,
.gallery-section,
.submit-section,
.background-section {
  padding: 30px 50px;
}

.submit-section {
  align-items: center;
}

.subsection .title,
.section .title,
.gallery-section .title,
.background-section .title {
  font-family: Special Elite;
  text-align: center;
}
.question {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.commentbox-hidden {
  display: none;
}
.commentbox {
  padding-top: 1em;
}
.logo {
  flex-shrink: 0;
}

.toggle-button-group {
  box-shadow: 0px 2px 4px #00000080;
  flex-grow: 0;
  flex-shrink: 0;
}
.toggle-button-group button {
  background-color: #fafafa;
  border: 1px solid #cec6c6;
  color: #404040;
  cursor: pointer;
  float: left;
  text-transform: uppercase;
  font-family: Ubuntu-Bold, Ubuntu;
  font-size: 12px;
  font-weight: bold;
  width: 157px;
  height: 37px;
}
.toggle-button-group button:hover {
  background-color: #d7e6a5;
}
.toggle-button-group button.selected {
  background-color: #afcd4b;
}
.toggle-button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.toggle-button-group:after {
  content: "";
  clear: both;
  display: table;
}

.toggle-button-group.userrole button {
  width: 100px;
  height: 37px;
}

.add-note-button,
.add-photo-button,
.previous-section-button,
.next-section-button {
  border: none;
  background: none;
  padding: 0;
}

.bottom-navigation {
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 50px;
}

.previous-section-button,
.next-section-button {
  box-shadow: 0px 2px 4px #00000080;
  position: absolute;
  display: flex;
}

.previous-section-button.hidden,
.next-section-button.hidden {
  display: none;
}

.previous-section-button:active,
.next-section-button:active {
  box-shadow: none;
}

.previous-section-button {
  left: 50%;
  margin-left: -160px;
}

.next-section-button {
  right: 50%;
  margin-right: -160px;
}

.gallery-section {
  align-items: stretch;
}
.gallery-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photo {
  max-width: 200px;
  width: 100%;
  margin: 5px;
}
.photo-section {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: grey 2px solid;
  align-items: flex-start;
}
.photo-description {
  margin: 5px;
}
.delete-button {
  margin: 5px;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}
.question-line {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
.question-number {
  position: absolute;
}
.question-text {
  margin-left: 50px;
  margin-right: 50px;
}

.add-note-button {
  padding-left: 30px;
}

.answerRow {
  display: flex;
  flex-direction: row;
}

.question-divider {
  border: 1px solid #afcd4b;
  border-radius: 1px;
  width: 50px;
}
.subsection-divider {
  border: 1px solid #f6a85c;
  border-radius: 1px;
  width: 200px;
}

/* // Select with comment */
.action-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.commentbox-hidden {
  display: none;
}
.commentbox {
  padding-top: 1em;
}
/* label {
  color: rgba(0; 0; 0; 0.87);
} */

/* question user select */
/* .question {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.background-section .question {
  padding-bottom: 0;
  padding-top: 20px;
}

.background-section label {
  padding-top: 0;
  padding-bottom: 5px;
}

.question input[type="text"],
.question-user-select input[type="text"] {
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
}

.add-note-dialog textarea,
.question textarea {
  resize: none;
  border: solid 1px black;
  padding: 5px 10px;
  font-family: Ubuntu;
  margin-left: 50px;
}

.add-note-dialog textarea,
.question textarea:hover,
.question textarea:focus,
.question input[type="text"]:hover,
.question input[type="text"]:focus,
.question-user-select input[type="text"]:hover,
.question-user-select input[type="text"]:focus {
  box-shadow: 0px 2px 4px #00000080;
}

.add-note-dialog {
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: solid 1px #f6a85c;
  box-shadow: 0px 2px 4px #00000080;
}

.add-note-dialog .title {
  font-family: Special Elite;
  font-size: 46px;
  font-weight: normal;
  margin-top: 0;
  color: #404040;
}

.add-note-dialog .question-line {
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: #404040;
}

.add-note-dialog .question-text {
  margin-right: 0;
  margin-left: 20px;
}

.add-note-dialog textarea {
  align-self: stretch;
  margin: 0;
  font-size: 18px;
}

.add-note-dialog button,
.submit-survey-button,
.get-started button {
  margin-top: 20px;
  border: 0;
  background-color: #f6a85c;
  width: 160px;
  height: 40px;
  font-family: Ubuntu-Bold, Ubuntu;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 2px 4px #00000080;
  color: #404040;
}

.add-note-dialog button:active,
.submit-survey-button:active,
.get-started button:active {
  box-shadow: none;
}

.question .dated-improvement-answer {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.question .dated-improvement-answer .improvement,
.question .dated-improvement-answer .year {
  display: flex;
  flex-direction: column;
}

.question .dated-improvement-answer .improvement {
  flex-grow: 1;
}

.question .dated-improvement-answer .year {
  margin-left: 5px;
  width: 200px;
}
.question .dated-improvement-answer label {
  padding-top: 5px;
  padding-bottom: 5px;
}

.background-section .question-user-select {
  padding-top: 20px;
  display: flex;
  align-items: flex-end;
}

.background-section .question-user-select .details-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.background-section .question-user-select .selection-column {
  display: flex;
  align-items: center;
}

.background-section .question-user-select .toggle-button-group {
  margin-left: 10px;
  box-shadow: none;
}

.background-section .question-user-select .title-label {
  margin-bottom: 5px;
}

/* charts */

.results-chart {
  position: relative;
  width: 60vw;
}

.authenticator-wrapper,
.get-started-wrapper {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/LTL_partial_logo_white.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.authenticator,
.get-started {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.get-started {
  align-items: center;
  width: 50%;
  padding: 50px;
}

.authenticator .question {
  font-family: Special Elite;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.authenticator button {
  width: 100px;
  height: 40px;
  background-color: #2d6a89;
  color: white;
  font-family: Ubuntu-Regular, Ubuntu;
  font-size: 12px;
  font-weight: normal;
  box-shadow: 1px 1px 4px black;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.authenticator button:active {
  box-shadow: none;
}

.authenticator button.inline-action {
  font-family: Ubuntu-Regular, Ubuntu;
  color: #2d6a89;
  background-color: inherit;
  box-shadow: none;
  border: none;
  width: auto;
  height: auto;
  font-size: inherit;
  padding: 0px 10px;
  margin: 0;
}

.authenticator h2,
.get-started h2 {
  font-family: Special Elite;
  font-size: 46px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.authenticator input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
}

.authenticator #emailInput {
  margin-bottom: 20px;
}

.get-started p {
  align-self: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}
